.card {
	width: 300px;
	display: flex;
	padding: 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border: 1px black solid;
	border-radius: 0.5rem;
}
.card span {
	display: flex;
	gap: 0.5rem;
	align-self: flex-end;
}

.card__btn:hover {
	color: brown;
}
